.totales {
 display:inline-block;
}
#node_ordenes_form_group_datos_el .field-type-text-form {
    display: inline-block;
    float: left;
    width: 20%;
}

#node_ordenes_form_group_datos_el .field-type-text-form input {
    width: 90%;
}

#node_ordenes_form_group_ord_datos_tecnicos .field-type-text-form {
    display: inline-block;
    float: left;
    width: 25%;
}

#node_ordenes_form_group_ord_datos_tecnicos .field-type-text-form input {
    width: 90%;
}
.container-mediciones fieldset {
    display: inline-block;
    float: left;
    width: 45%;
    margin-left: 10px;
    margin-right: 10px;
    height: 148px;
}
.container-mediciones .field-type-text-form {
    float: left;
    width: 25%;
}
#ordenes-node-form .form-type-radio {
  display:inline;
}
#node_ordenes_form_group_ord_tpshoras .field-type-datetime-form {
 display:inline-block;
 float:left;
 width:33.3%;
}
#node_ordenes_form_group_ord_tpshoras .field-type-datetime-form div.date-padding {
 padding:0px;
}
#node_ordenes_form_group_ord_tpshoras .field-type-datetime-form div.date-padding input {
 padding-left:5px;
}
#node_ordenes_form_group_ord_par_serv .field-type-text-form {
display:inline-block;
float:left;
width:25%;
}
#node_ordenes_form_group_ord_par_serv .field-widget-options-select {
display:inline-block;
float:left;
width:20%;
}


.form-item-subtotal, .form-item-descuentos, .form-item-total-iva, .form-item-total-cotizacion{
  float: left;
  margin: 5px 5px 5px 5px;
}
.cliente-sucursal div {
    display: inline-block;
    margin: 0 10px 0 0;
}
/* estilos consulta ordenes */
.view-mode-full .group-dato-equipo-v .field {
    width: 20%;
    display: inline-block;
}
.view-mode-full .group-datos-tecnicos-v .field {
    width: 25%;
    display: inline-block;
}

.view-mode-full .mediciones .field-group-fieldset {
    width: 45%;
    display: inline-block;
    float: left;
}
.view-mode-full .mediciones .medicion-v {
    margin-right: 5px;
}
.view-mode-full .mediciones .medicion-a {
    margin-left: 5px;
    height: 119px;
}
.view-mode-full .mediciones .field {
    width: 25%;
    display: inline-block;
}

.view-mode-full section.field-name-field-ord-cliente {
    width: 40%;
    display: inline-block;
}
.view-mode-full section.field-name-field-ord-sucursal {
    width: 30%;
    display: inline-block;
}
.view-mode-full section.field-name-field-ord-estado {
    width: 15%;
    display: inline-block;
}
.view-mode-full section.field-name-field-ord-tipo {
    width: 15%;
    display: inline-block;
}
.group-parametros-sv .field {
    width: 20%;
    display: inline-block;
}
.group-tiempo-v .field-type-datetime {
    width: 33.33%;
    display: inline-block;
}
.group-tiempo-v .field-name-field-ord-servicio {
    width: 100%;
}
